<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whatever</title>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body id='mainBody'>
    <section id="body-cover">

        <header>

        </header>

        {{{ body }}}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</section>
    </body>
</html>
