ul{
    list-style-type: none;
}

a { text-decoration: none; color:white}
@media screen and (min-width: 1400px) {
    body{
        margin: 0px;
        font-family: 'Roboto', sans-serif;
    }


    #nav{
        position: fixed;
        display: flex;
        flex-direction: row;
        left: 80vw;
        margin-top: 15px;
    }

    .name-title{
        margin-top:15px;
        font-size: 30px;
    }
    #home-section{
        width: 100vw;
        height: 100vh;
        background-color: #171717;
    }
    #about-section{
        width: 100vw;
        height:100%;
        color: white;
        background-color: #a2a0a0;
        background-blend-mode: multiply;
        background-image: url(greybg.jpg);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .about-top{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: 60vh;
        justify-content: space-between;
        margin: 20px;

    }
    .about-bottom{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: 80vh;
        justify-content: space-around;
    }
    #work-section{
        width: 100vw;
        height: 100%;
        background-color: black;
        display:flex;
        flex-direction: column;
        justify-content: center;

    }
    button{
        -webkit-box-shadow: inset 0px 50px 0px -15px #171717;
        -moz-border-radius: 7px;
        cursor: pointer;
        color: #ffffff;
        font-size: 20px;
        border: none;
        text-decoration: none;
        text-shadow: 3px 2px 0px #171717;
    }

    .white-font{
        color:white;
    }

    #contact-section{
        width: 100vw;
        height: 100vh;
        background-color: #e8e8e8
    }
    .forms-container{
        display: flex;
        flex-direction: row;
    }
    .cm-form{
        margin: 20px;
    }
    .cm-input{
        width: 30vw;
    height: 30vh;
    }
    .about-me{
    width:15vw;
    }
    .skills{
    width:15vw;
    }
    .all-links{

    }
    .all-posts{

    }
    .spotify-container{

    }
    .lines-container{
        display: flex;
        flex-direction: row;
    }

    .each-line{

    }

    @-webkit-keyframes move {
        0% {

        }

        100% {
            transform: rotateY(-183deg);
            margin-right: 10px;
            width: 1px;

         }
    }
    @-webkit-keyframes movePerspective {
        0% {

        }

        100% {
            transform: rotateY(-272deg);
            perspective: 90px;

         }
    }

    .line{
            height: 280px;
        width: 38px;
        margin-right: -12px;
        background-color: #171717;
        transform: rotateY(-188deg) rotateZ(-43deg) rotateX(-4deg);
        /* transition: animation 1s; */
        transition: transform 1s, margin-right 1s;
        animation: move 1s backwards;
    }
    .line-perspective{
        perspective: 19px;
        transform: rotateY(-289deg);
        width: 18px;
    transition: transform 1s, perspective 1s;
    /* transition: animation 1s; */
        animation: movePerspective 1s backwards;
    }


    .line-perspective:hover{
        animation-fill-mode: forwards;
        /* animation: move 0.5s ease-in-out; */
        /* transform: rotateY(-272deg);
        perspective: 90px; */
    }

    .line:hover{
        animation-fill-mode: forwards;
        /* animation: moveLine 0.5s ease-in-out; */
        /* transform: rotateY(-230deg);
        margin-right: 10px; */
    }

    .two{
        animation-name: move;
      animation-duration: 1s;
      animation-play-state: paused;
      animation-fill-mode: both;
    }

    .two:hover{
        animation-play-state: running;
    }

    /* .container-under-and-lines:hover > .under-line { opacity: 1; } */

    .container-under-and-lines{
        display: flex;
        justify-content: center;
        margin-top: 10vh;

    }
    .under-line{
        opacity: 0.5;
        width: 350px;
        height: 240px;
        position: absolute;
        margin-left: 2vw;


    }

    @-webkit-keyframes flash {
        0% {

        }

        100% {
            opacity: 1;

         }
    }

    .under-line:hover{
        animation: flash 0.1s ease forwards;
        animation-iteration-count: 5;
    }
    /*WORK SECTION ELEMENT PLACEMENT*/
    .wrapper {
        display: grid;
    background-color: black;
    grid-template-columns: repeat(9, 6vw);
    grid-template-rows: repeat( 6, 100px);
    padding-top: 10vh;
    color: #444;
    }

    .box {

      width:30vw
    }

    .mid-box {

      width:18vw
    }

    .big-box {

      width: 15vw;
    }



    .imagebunker{
        width: 120px;
        height: 0px;
        font-size: 12px;
        color: transparent;
        background-color: transparent;
        grid-column: 11;
        grid-row: 1 / 5;
        justify-self: flex-start;
        visibility: hidden;

        transition: color 1.5s;
    }
    .dubbing{
        width: 140px;
        height: 0px;
        font-size: 12px;
        background-color: transparent;
        color:transparent;
        grid-column: 1 /4;
        grid-row: 1 / 5;
        justify-self: flex-end;
        visibility: hidden;
        transition: color 1.5s;
    }
    .petition{
        width: 170px;
        height: 0px;
        font-size: 12px;
        background-color: transparent;
        color:transparent;
        grid-column: 4 / 4;
        grid-row: 5 / 7;
        justify-self: flex-end;
        visibility: hidden;
        transition: color 1.5s;
    }
    .trackshare{
        width: 170px;
    font-size: 12px;
    height: 0px;
    background-color: transparent;
    color:transparent;
    grid-column: 9 / 11;
    grid-row: 2 / 5;
    visibility: hidden;
    transition: color 1.5s;
    justify-self: center;

    }
    .gitsearch{
        width: 135px;
    height: 0px;
    font-size: 12px;
    background-color: transparent;
    color:transparent;
    grid-column: 9 / 9;
    grid-row: 6 / 6;
    justify-self: flex-end;
    visibility: hidden;
    transition: color 1.5s;
    }
    .spotifyui{
        width: 135px;
        height: 0px;
        font-size: 12px;
        background-color: transparent;
        color:transparent;
        grid-column: 10;
        grid-row: 6 / 6;
        justify-self: flex-start;
        visibility: hidden;
        transition: color 0.5s;
    }


        .a:hover ~ .imagebunker { visibility: visible; color:white}
        .a:hover{opacity:1}
        .imagebunker:hover { visibility: visible;color:white}
        .b:hover ~ .trackshare { visibility: visible; color:white}
        .b:hover{opacity:1}
        .trackshare:hover { visibility: visible;color:white }
        .c:hover ~ .dubbing { visibility: visible; color:white;}
        .c:hover{opacity:1}
        .dubbing:hover { visibility: visible; color:white;}
        .d:hover ~ .spotifyui { visibility: visible; color:white }
        .d:hover{opacity:1}
        .spotifyui:hover { visibility: visible; color:white }
        .e:hover ~ .petition { visibility: visible; color:white}
        .e:hover{opacity:1}
        .petition:hover { visibility: visible; color:white}
        .f:hover ~ .gitsearch{ visibility: visible; color:white }
        .f:hover{opacity:1}
        .gitsearch:hover{ visibility: visible; color:white }

    .box-text{
        padding: 5px;
    }
    .a {
        grid-column: 10 / 10;
        grid-row: 1 / 2;
        justify-self: center;
        opacity: 0.5;
    }


    .b {
        grid-column: 8/ 8;
        grid-row: 2 / 4;
        justify-self: safe;
        opacity: 0.5;
    }

    .c {
        grid-column: 4 / 6;
        grid-row: 1 / 3;
        justify-self: auto;
        opacity: 0.5;
    }

    .d {
        grid-column: 10;
    grid-row: 5 / 5;
    width: 11vw;
    opacity: 0.5;
    align-self: self-end;
    justify-self: flex-start;
    }

    .e {
        grid-column: 2 / 5;
        grid-row: 5 / 1;
        align-self: self-end;
        opacity: 0.5;
    }

    .f {
        grid-column: 3 / 10;
        grid-row: 5 / 5;
        opacity: 0.5;
        justify-self: flex-end;
        width: 10vw;
        align-self: self-end;
    }

    .g {
        grid-column: 9;
        grid-row: 4 / 4;
        opacity: 0.5;
        width: 12vw;
        align-self: center;
    }

    .down-arrow{
        grid-column: 10;
        grid-row: 5 / 5;
        color:grey;
    }

    /*Contact Section*/

    .contact-form-container{
        display:flex;
        flex-direction: column;
        align-items: center;

        height: 100%;
    }

    #text-area-contact{
        margin: 20px;
    width: 50vw;
    height: 30vh;
    }

}

@media screen and (max-width: 1399px) {

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#d7d7d7;
}
.navi{
    margin-top: 15px;
}

.paint-font-black{
    color:black
}
#nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 78vw;
    margin-top: 15px;
}

.name-title{

        padding-top: 17px;
        margin-left: 38px;
}
#home-section{
    width: 100vw;
    height: 100vh;
    background-color: #171717;
}
#about-section{
    width: 100vw;
    height:100%;
    background-color: black;
    color: #d7d7d7;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

iframe{
        border: 0.25px;
            margin-top: 30px;
}

.about-title{
    font-weight: 700;
    font-size: 31px;
    line-height: 33px;
}

.about-description{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-weight: lighter;
}
.about-top{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 75vh;
    justify-content: space-between;
    margin-top: 30px;

}
.about-bottom{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80vh;
    justify-content: normal;
    border-top: 1px solid #d7d7d7;
}
.posts-list{
margin-left: 148px;;
}
#work-section{
    width: 100vw;
    height: 100%;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;

}
button{
    -webkit-box-shadow: inset 0px 50px 0px -15px #171717;
    -moz-border-radius: 7px;
    cursor: pointer;
    color: #ffffff;
    font-size:15px;
    letter-spacing:1px;
    border: none;
    text-decoration: none;
    text-shadow: 3px 2px 0px #171717;
}

.white-font{
    color:#d7d7d7;
}

#contact-section{
    width: 100vw;
    height: 100vh;
    background-color: #e8e8e8
}
.forms-container{
    display: flex;
    flex-direction: row;
}
.cm-form{
    margin: 20px;
}
.cm-input{
    width: 30vw;
height: 30vh;
}
.about-me{
width:25vw;
}
.skills{
width:25vw;
}
.all-links{

}
.all-posts{

}
.spotify-container{

}
.lines-container{
    display: flex;
    flex-direction: row;
}

.each-line{

}

@-webkit-keyframes move {
    0% {


    }
    50%{

    }

    100% {
        transform: rotateY(-183deg);
        margin-right: 10px;
        width: 1px;



     }
}
@-webkit-keyframes movePerspective {
    0% {

    }

    100% {
        transform: rotateY(-272deg);
        perspective: 90px;

     }
}

.line{
        height: 90vh;
    width: 38px;
    margin-right: -12px;
    background-color: #171717;
    transform: rotateY(-188deg) rotateZ(-43deg) rotateX(-4deg);
    /* transition: animation 1s; */
    transition: transform 1s, margin-right 1s;
    animation: move 1s backwards;
}
.line-perspective{
    perspective: 19px;
    transform: rotateY(-289deg);
    width: 18px;
    transition: transform 1s, perspective 1s;
/* transition: animation 1s; */
    animation: movePerspective 1s backwards;
}


.line-perspective:hover{
    animation-fill-mode: forwards;
    /* animation: move 0.5s ease-in-out; */
    /* transform: rotateY(-272deg);
    perspective: 90px; */
}

.line:hover{
    animation-fill-mode: forwards;

    /* animation: moveLine 0.5s ease-in-out; */
    /* transform: rotateY(-230deg);
    margin-right: 10px; */
}

.two{
    animation-name: move;
  animation-duration: 1s;
  animation-play-state: paused;
  animation-fill-mode: both;
  /* border:1px dashed white; */
}

.two:hover{
    animation-play-state: running;
}

/* .container-under-and-lines:hover > .under-line { opacity: 1; } */

.container-under-and-lines{
    display: flex;
    justify-content: center;
    margin-top: 10vh;

}
.under-line{
    opacity:1;
    width: 60vw;
    height: 70vh;
    position: absolute;
    margin-left: 2vw;


}

@-webkit-keyframes flash {
    0% {

    }
    50%{
        filter:contrast(200%) brightness(150%) hue-rotate(90deg) blur(10px)

    }

    100% {


     }
}

.under-line:hover{
    animation: flash 0.3s ease-in infinite;
    animation-iteration-count: 5;

}
/*WORK SECTION ELEMENT PLACEMENT*/

.work-top{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vw;
    padding-right: 4vw;
    padding-left: 4vw;
}

.work-title{
margin-left: 3vw;
        width: 25%;
}
div.work-title h1{
    margin-top: 20px;
    color: #b7b7b7;

}

.work-description{
    width: 75%;
    margin-top: 12px;
    margin-bottom: 0;
}

div.work-description p{

    color: #b7b7b7;
font-size: 16px;
line-height: 24px;
}
.wrapper {
    display: grid;
    background-color: black;
    grid-template-columns: 1fr repeat(5, 3% 1fr);
    grid-template-rows: repeat( 1, 12vw);
    padding:5vh;
    /* border: 1px solid white; */
    color: #2497f3;

}

.box {

  width:12vw;


}

.mid-box {

  width:18vw
}

.big-box {

  width: 15vw;
}



.imagebunker{
    width: 120px;
    height: 0px;
    font-size: 12px;
    background-color: transparent;
    color: transparent;
    grid-column: 11;
    grid-row: 1 / 5;
    justify-self: flex-start;
    visibility: hidden;

    transition: color 1.5s;
}
.dubbing{
    width: 140px;
    height: 0px;
    font-size: 12px;
    background-color: transparent;
    color:transparent;
    grid-column: 1 /4;
    grid-row: 1 / 5;
    justify-self: flex-end;
    visibility: hidden;
    transition: color 1.5s;
}
.petition{
    width: 170px;
    height: 0px;
    font-size: 12px;
    background-color: transparent;
    color:transparent;
    grid-column: 4 / 4;
    grid-row: 5 / 7;
    justify-self: flex-end;
    visibility: hidden;
    transition: color 1.5s;
}
.trackshare{
    width: 170px;
font-size: 12px;
height: 0px;
background-color: transparent;
color:transparent;
grid-column: 9 / 11;
grid-row: 2 / 5;
visibility: hidden;
transition: color 1.5s;
justify-self: center;

}
.gitsearch{
    width: 135px;
height: 0px;
font-size: 12px;
background-color: transparent;
color:transparent;
grid-column: 9 / 9;
grid-row: 6 / 6;
justify-self: flex-end;
visibility: hidden;
transition: color 1.5s;
}
.spotifyui{
    width: 135px;
    height: 0px;
    font-size: 12px;
    background-color: transparent;
    color:transparent;
    grid-column: 10;
    grid-row: 6 / 6;
    justify-self: flex-start;
    visibility: hidden;
    transition: color 0.5s;
}


    .a:hover ~ .imagebunker { visibility: visible; color:white}
    .a:hover{opacity:1}
    .imagebunker:hover { visibility: visible;color:white}
    .b:hover ~ .trackshare { visibility: visible; color:white}
    .b:hover{opacity:1}
    .trackshare:hover { visibility: visible;color:white }
    .c:hover ~ .dubbing { visibility: visible; color:white;}
    .c:hover{opacity:1}
    .dubbing:hover { visibility: visible; color:white;}
    .d:hover ~ .spotifyui { visibility: visible; color:white }
    .d:hover{opacity:1}
    .spotifyui:hover { visibility: visible; color:white }
    .e:hover ~ .petition { visibility: visible; color:white}
    .e:hover{opacity:1}
    .petition:hover { visibility: visible; color:white}
    .f:hover ~ .gitsearch{ visibility: visible; color:white }
    .f:hover{opacity:1}
    .gitsearch:hover{ visibility: visible; color:white }

.box-text{
    padding: 5px;
}
.a {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
    opacity: 0.5;
    justify-self: center;
    width: 12vw;
margin-right: 2vw;
        /* margin-bottom: 85px; */
}


.b {
    grid-column: 7;
grid-row: 1;
opacity: 0.5;
align-self: center;
justify-self: center;
width: 80%
/* margin-top: 58px; */

}

.c {
    grid-column: 5;
    grid-row: 1;
    opacity: 0.5;
    justify-self: center;
    align-self: center;
    /* margin-top: 50px; */
}

.d {
    grid-column: 5;
    grid-row: 3;
    opacity: 0.5;
    align-self: flex-end;
    justify-self: flex-end;
    /* width: 9vw; */

}

.e {
    grid-column: 9;
grid-row: 1;
align-self: center;
opacity: 0.5;
justify-self: center;
/* margin-bottom: -21px; */
}
}

.f {
    grid-column: 6;
    grid-row: 3;
    align-self: flex-end;
    opacity: 0.5;
    /* width: 9vw; */
}

.g {
    grid-column: 4/8;
    grid-row: 2;
    justify-self: center;
    opacity: 0.5;
    width: 30%;
    margin-top: 20px;

}

.down-arrow{
    grid-column: 6;
        grid-row: 3;
        align-self: center;
        color: #d7d7d7;
            margin-bottom: 10vh;

}

/*Contact Section*/

.contact-form-container{
    display:flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}

#text-area-contact{
    margin: 20px;
width: 50vw;
height: 30vh;
}



}

/*FOR IPHONE 7*/

@media screen and (max-width: 414px) and (min-width: 375px) {
    #nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 41vw;
}
    .wrapper {
        display: grid;
        grid-template-columns: repeat(9, 9vw);
        grid-template-rows: repeat( 6, 9vw);
        padding-top: 10vh;
        color: #444;
    }
    .box-text {
        padding: 5px;
    }

.a {
        grid-column: 9 / 9;
        grid-row: 1 / 2;
        justify-self: flex-end;
        opacity: 0.5;
}
.imagebunker {
        width: 22vw;
        height: 0px;
        font-size: 6px;
        color:transparent;
        background-color: transparent;
        grid-column: 9 / 16;
        grid-row: 8 / 2;
        justify-self: flex-start;
        visibility: hidden;
        transition: color 1.5s;
}
.a:hover ~ .imagebunker {visibility: visible;color:white}
.a:hover {opacity: 1;}
.imagebunker:hover { visibility: visible;color:white }

.b {
    grid-column: 6 / 8;
    grid-row: 2 / 4;
    justify-self: safe;
    opacity: 0.5;
}
.trackshare{
    width: 50px;
    font-size: 6px;
    height: 0px;
    background-color: transparent;
    color:transparent;
    grid-column: 6 / 9;
    grid-row: 3 / 5;
    visibility: hidden;
    transition: color 1.5s;

}
.b:hover ~ .trackshare { visibility: visible; color:white}
.b:hover{opacity:1}
.trackshare:hover { visibility: visible;color:white }
.c {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
    justify-self: auto;
    opacity: 0.5;
}
.dubbing{
    width: 80px;
height: 0px;
font-size: 6px;
background-color: transparent;
color:transparent;
grid-column: 1 /4;
grid-row: 1 / 5;
justify-self: flex-end;
visibility: hidden;
transition: color 1.5s;
}
.c:hover ~ .dubbing { visibility: visible; color:white;}
.c:hover{opacity:1}
.dubbing:hover { visibility: visible; color:white;}
.d {
    grid-column: 10 / 12;
        grid-row: 5 / 5;
    width: 11vw;
    opacity: 0.5;
    align-self: self-end;
}
.spotifyui{
    width: 60px;
    height: 0px;
    font-size: 7px;
    background-color: transparent;
    color:transparent;
    grid-column: 10 / 10;
    grid-row: 6 / 6;
    justify-self: baseline;
    visibility: hidden;
    transition: color 0.5s;
}
.d:hover ~ .spotifyui { visibility: visible; color:white }
.d:hover{opacity:1}
.spotifyui:hover { visibility: visible; color:white }
.e {
    grid-column: 2 / 5;
    grid-row: 5 / 1;
    align-self: self-end;
    opacity: 0.5;
}
.petition{
    width: 80px;
    height: 0px;
    font-size: 6px;
    background-color: transparent;
    color:transparent;
    grid-column: 3 / 4;
    grid-row: 5 / 7;
    justify-self: flex-end;
    visibility: hidden;
    transition: color 1.5s;
}
.e:hover ~ .petition { visibility: visible; color:white}
.e:hover{opacity:1}
.petition:hover { visibility: visible; color:white}
.f {
    grid-column: 5 / 9;
    grid-row: 5 / 5;
    opacity: 0.5;
    justify-self: flex-end;
    width: 10vw;
    align-self: self-end;
}
.gitsearch{
    width: 75px;
    height: 0px;
    font-size: 7px;
    background-color: transparent;
    color:transparent;
    grid-column: 6 / 9;
    grid-row: 6 / 6;
    justify-self: flex-end;
    visibility: hidden;
    transition: color 1.5s;
}
.f:hover ~ .gitsearch{ visibility: visible; color:white }
.f:hover{opacity:1}
.gitsearch:hover{ visibility: visible; color:white }
.g {
    grid-column: 9 / 9;
    grid-row: 4 / 4;
    opacity: 0.5;
    width: 10vw;
    align-self: self-end;

}

.about-me {
    width: 41vw;
}
.skills{
    width: 43vw;
}
.all-posts {
    width: 40vw;
}
.all-links {
    width: 40vw;
}
.spotify-container {
    visibility: hidden;
}




}

@media screen and (max-width: 374px) and (min-width: 320px) {
    #nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 38vw;
}
button{

    font-size: 11px;

}
.container-under-and-lines {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 10vh;
}
    .wrapper {
        display: grid;
        grid-template-columns: repeat(9, 9vw);
        grid-template-rows: repeat( 8, 9vw);
        padding-top: 10vh;
        color: #444;
    }
    .box-text {
        padding: 5px;
    }

.a {
        grid-column: 9 / 9;
        grid-row: 1 / 2;
        justify-self: center;
        opacity: 0.5;
}
.imagebunker {
        width: 22vw;
        height: 0px;
        font-size: 6px;
        background-color: transparent;
        color:transparent;
        grid-column: 9 / 16;
        grid-row: 8 / 2;
        justify-self: flex-start;
        visibility: hidden;
        transition: color 1.5s;
}
.a:hover ~ .imagebunker {visibility: visible;color:white;}
.a:hover {opacity: 1;}
.imagebunker:hover { visibility: visible;color:white }

.b {
    grid-column: 6 / 8;
    grid-row: 2 / 4;
    justify-self: safe;
    opacity: 0.5;
}
.trackshare{
    width: 50px;
    font-size: 6px;
    height: 0px;
    background-color: transparent;
    color:transparent;
    grid-column: 6 / 9;
    grid-row: 3 / 5;
    visibility: hidden;
    transition: color 1.5s;

}
.b:hover ~ .trackshare { visibility: visible; color:white}
.b:hover{opacity:1}
.trackshare:hover { visibility: visible;color:white }
.c {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
    justify-self: auto;
    opacity: 0.5;
}
.dubbing{
    width: 80px;
height: 0px;
font-size: 6px;
background-color: transparent;
color:transparent;
grid-column: 1 /4;
grid-row: 1 / 5;
justify-self: flex-end;
visibility: hidden;
transition: color 1.5s;
}
.c:hover ~ .dubbing { visibility: visible; color:white}
.c:hover{opacity:1}
.dubbing:hover { visibility: visible; color:white;}
.d {
    grid-column: 10 / 12;
        grid-row: 5 / 5;
    width: 11vw;
    opacity: 0.5;
    align-self: self-end;
}
.spotifyui{
    width: 49px;
    height: 0px;
    font-size: 7px;
    background-color: transparent;
    color:transparent;
    grid-column: 10 / 10;
    grid-row: 6 / 6;
    justify-self: baseline;
    visibility: hidden;
    transition: color 0.5s;
}
.d:hover ~ .spotifyui { visibility: visible; color:white }
.d:hover{opacity:1}
.spotifyui:hover { visibility: visible; color:white }
.e {
    grid-column: 2 / 5;
    grid-row: 5 / 1;
    align-self: self-end;
    opacity: 0.5;
}
.petition{
    width: 80px;
    height: 0px;
    font-size: 6px;
    background-color: transparent;
    color:transparent;
    grid-column: 3 / 4;
    grid-row: 5 / 7;
    justify-self: flex-end;
    visibility: hidden;
    transition: color 1.5s;
}
.e:hover ~ .petition { visibility: visible; color:white}
.e:hover{opacity:1}
.petition:hover { visibility: visible; color:white}
.f {
    grid-column: 5 / 9;
    grid-row: 5 / 5;
    opacity: 0.5;
    justify-self: flex-end;
    width: 10vw;
    align-self: self-end;
}
.gitsearch{
    width: 75px;
    height: 0px;
    font-size: 7px;
    background-color: transparent;
    color:transparent;
    grid-column: 6 / 9;
    grid-row: 6 / 6;
    justify-self: flex-end;
    visibility: hidden;
    transition: color 1.5s;
}
.f:hover ~ .gitsearch{ visibility: visible; color:white }
.f:hover{opacity:1}
.gitsearch:hover{ visibility: visible; color:white }
.g {
    grid-column: 9 / 9;
    grid-row: 4 / 4;
    opacity: 0.5;
    width: 10vw;
    align-self: self-end;

}

.about-me {
    width: 45vw;
}
.skills{
    width: 45vw;
    overflow: hidden;
}
.all-posts {
    width: 40vw;
}
.all-links {
    width: 40vw;
}
.spotify-container {
    visibility: hidden;
}




}
